# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Sistema operativo
.DS_Store
Thumbs.db

# Datos
data/*.db